<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/stile.css">
        <link rel="apple-touch-icon" sizes="180x180" href="static/imagens/apple-touch-icon.png">
        <link rel="icon" tipe="image/png" sizes="32x32" href="static/imagens/favicon-32x32.png">
        <link rel="icon" tipe="image/png" sizes="16x16" href="static/imagens/favicon-32x32.png">
        <link rel="manifest" href="site.webmanifest">
        <title>portfólio</title>
    </head>
    <body>
        <div class="container">
            <div class="Hamburger">
                <div class="line" id="line1"></div>
                <div class="line" id="line2"></div>
                <div class="line" id="line3"></div>
                <span id="Fechar">fechar</span>
            </div>
            <header id="Home">
                <div class="img-wrapper">
                    <img src="static/imagens/developer.jpg" alt="">
                </div>
                <div class="banner">
                    <h1>Web Developer, Back End</h1>
                    <h1>& Frond End Designer</h1>
                    <p>Rafael Oliveira</p>
                    <button id="btn-saiba-mais">Saiba mais</button>
                    <div class="info-box">
                        <p>Olá me chamo Rafael, sou estudante de ciência de dados e front-end.</p>
                        <p>Tenho paixão por transformar dados em insights acionáveis e criar interfaces interativas e atraentes.</p>
                        <p>Sou um iniciante na área buscando uma oportunidade no mercado sendo capaz de apresentar bons resultados.</p>
                        <p>Estou sempre em busca de desafios para aplicar meus conhecimentos e aprimorar minhas habilidades.</p>
                        <p>Se está procurando alguém para fazer parte do seu trabalho, considere me dar uma oportunidade, tenho muito para mostrar e também evoluir.</p>
                        <p>Entre em contato e fique a vontade para tirar suas duvidas.</p>
                        <p>Obrigado!</p>
                    </div>
                </div>
            </header>
            <aside class="Sidebar">
                <nav>
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link">home</a></li>
                        <li class="menu-item"><a href="#Conhecimentos" class="menu-link">conhecimentos</a></li>
                        <li class="menu-item"><a href="#Projetos" class="menu-link">projetos</a></li>
                        <li class="menu-item"><a href="#Contato" class="menu-link">contato</a></li>
                        <li class="menu-item"><a href="#Orcamento" class="menu-link">orçamento</a></li>
                    </ul>
                </nav>
                <div class="social-media">
                    <a href="https://bit.ly/44QJTZT" target="_blank"><i class="fab fa-fa-brands fa-facebook"></i></a>
                    <a href="https://bit.ly/3R9ScNr" target="_blank"><i class="fab fa-brands fa-github"></i></a>
                    <a href="https://bit.ly/3RbGgdV" target="_blank"><i class="fab fa-brands fa-whatsapp"></i></a>
                    <a href="https://bit.ly/466BRx1" target="_blank"><i class="fab fa-brands fa-instagram"></i></a>
                </div>
            </aside>

            <section class="sessao-conhecimentos" id="Conhecimentos">
                <div class="sessao-header">
                    <h1>Conhecimentos</h1>
                </div>
                <div class="conhecimentos">
                    <div class="conhecimento">
                        <div class="conhecimento-header">
                            <i class="fab fa-html5"></i>
                            <h3>HTML5</h3>
                        </div>
                        <div class="conhecimento-text">
                            <p>Transformando seu site em uma experiência interativa com HTML5. Elementos multimídia ganham vida e recursos avançados levam sua experiência online para outro nível.
                            </p>
                        </div>
                    </div>
                    <div class="conhecimento">
                        <div class="conhecimento-header">
                            <i class="fab fa-css3-alt"></i>
                            <h3>CSS3</h3>
                        </div>
                        <div class="conhecimento-text">
                            <p>Estilizando seu site com CSS3 e criando uma obra de arte visual. Transições suaves, animações impressionantes e personalizações avançada farão seu site se destacar na multidão.
                            </p>
                        </div>
                    </div>
                    <div class="conhecimento">
                        <div class="conhecimento-header">
                            <i class="fas fa-pencil-alt"></i>
                            <h3>Django</h3>
                        </div>
                        <div class="conhecimento-text">
                            <p>A solução completa para desenvolvimento web. Criando aplicativos poderosos e escaláveis com facilidade. Com recursos avançados, administração automática e segurança robusta, Django simplifica o processo de construção de sites e permite que você se destaque na web.
                            </p>
                        </div>
                    </div>
                    <div class="conhecimento">
                        <div class="conhecimento-header">
                            <i class="fab fa-js"></i>
                            <h3>JavaScripts</h3>
                        </div>
                        <div class="conhecimento-text">
                            <p>A chave para interatividade e dinamismo na web. Criando experiências envolventes e atraentes para seus usuários. Tenha todo o potencial da web com o poder do JavaScript.
                            </p>
                        </div>
                    </div>
                    <div class="conhecimento">
                        <div class="conhecimento-header">
                            <i class="fab fa-python"></i>
                            <h3>Python</h3>
                        </div>
                        <div class="conhecimento-text">
                            <p>A linguagem versátil e poderosa para desenvolver soluções eficientes e inovadoras para qualquer aplicação. Elevando seus projetos ao próximo nível com a simplicidade e elegância do Python
                            </p>
                        </div>
                    </div>
                    <div class="conhecimento">
                        <div class="conhecimento-header">
                            <i class="fab fa-github"></i>
                            <h3>Git e GitHub</h3>
                        </div>
                        <div class="conhecimento-text">
                            <p>Controle de código com eficiência usando Git e GitHub. Gerenciando versões, colabore com facilidade e mantenha seus projetos organizados. Desenvolvendo com confiança e mantendo-se na colaboração com Git/GitHub
                            </p>
                        </div>
                    </div>
                    <div class="conhecimentos-img-wrapper">
                        <img src="static/imagens/Conhecimentos.png" alt="">
                    </div>
                </div>
            </section>
            <section class="sessao-pjojetos" id="Projetos">
                <div class="sessao-header">
                <h1>Projetos  & Carreira</h1>
                </div>
                <div class="projetos">
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img src="static/imagens/proj1.png" alt="imagem do projeto todo">
                        </div>
                        <div class="card-info">
                            <h2>Trajetória</h2>
                            <h3>Minha Jornada</h3>
                            <p>Minha carreira tem sido uma busca constante por novos desafios e paixões. Após anos de dedicação na minha carreira anterior, estou passando por uma transição. Com determinação, estou trilhando um novo caminho, buscando uma vocação onde minhas habilidades e paixões sejam aplicadas de forma mais significativo. Esta mudança representa não apenas um novo emprego, mas uma evolução pessoal e profissional que estou ansioso para abraçar plenamente.
                            </p>
                            <div class= "descricao" >
                                <p>empresa - cargo - ano</p>
                                <p>empresa - cargo - ano</p>
                                <p>empresa - cargo - ano</p>
                                <p>empresa - cargo - ano</p>
                                <p>empresa - cargo - ano</p>
                                <p>empresa - cargo - ano</p>
                            </div>
                            <button class="btn">Saiba Mais</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img src="static/imagens/proj2.jpg" alt="imagem do projeto maratona">
                        </div>
                        <div class="card-info">
                            <h2>Maratona</h2>
                            <h3>Meus Cursos</h3>
                            <p>Minha jornada profissional passou por diversas fases de aprendizado e crescimento em áreas distintas. Inicialmente, foquei em comércio, mas em busca de novos desafios, explorei a área elétrica e, posteriormente, área de programação. Cada fase representou uma oportunidade de expansão de habilidades e um capítulo emocionante em minha evolução profissional.
                            </p>
                            <div class= "descricao" >
                                <p>Técnico em automação industrial</p>
                                <p>Metrologia, leitura e interpretação de desenho</p>
                                <p>Curso em video - Mundo 1,2,3 PYTHON</p>
                                <p>Curso em video - HTML / CSS & JavaScript</p>
                                <p>Curso em video - Mysql</p>
                                <p>Curso Em Video - Git & Github</p>
                                <p>Udemi - Django</p>
                                <p>Universidade Anhanguera - Programador Back End</p>
                                <p>(CURSANDO)</p>
                            </div>
                            <button id="btn-saiba-mais" class="btn">Saiba Mais</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img src="static/imagens/proj3.jpg" alt="imagem do projeto Casa Bella">
                        </div>
                        <div class="card-info">
                            <h2>Pequenos Projetos</h2>
                            <h3>Minhas Habilidades</h3>
                            <p>Minha experiência inclui o desenvolvimento de interfaces gráficas para aplicações web e aplicativos simples, com foco na simplicidade e usabilidade. Esses projetos demonstram meu compromisso em fornecer soluções visuais que facilitam a utilização de aplicações web e aplicativos, tornando a experiência do usuário mais agradável e produtiva.
                            </p>
                            <div class= "descricao" >
                                <p><a href="https://bit.ly/44KqABy" target="_blank">Meu portfólio</a> - html/css/JavaScript</p>
                                <p><a href="https://bit.ly/3Rg9gl0"target="_blank">cadastro de pessoas</a> - Python/Tkinter</p>
                                <p><a href="https://bit.ly/3LbSQX2" target="_blank">mini jogo da forca</a> - python <a href=""></a></p>
                                <p><a href="https://bit.ly/3Liazfr" target="_blank">Máquina preditiva</a> - Python/google colab</p>
                                <p><a href="https://tinyurl.com/yjrdmxns"target="_blank">Loteria</a> - Desenvolvido com phyton</p>
                                <p><a href="https://tinyurl.com/mtm734su" target="_blank">Top 50 filmes</a> - Desenvolvido com python</p>
                                <p><a href="https://tinyurl.com/5akzhk84" target="_blank">Autenticador 2FA</a> - Desenvolvido em python/p>
                            </div>
                            <button class="btn">Saiba Mais</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sessao-contato" id="Contato">
                <div class="contato-wrapper">
                    <div class="contato-left"></div>
                    <div class="contato-right">
                        <h1>Contato</h1>
                        <form action="" method="POST">
                            <div class="input-group">
                                <input type="text" class="field" name="nome" placeholder="Nome"required>
                                <label for="nome" class="field-label"></label>
                                
                            </div>
                            <div class="input-group">
                                <input type="text" class="field" name="email" placeholder="E-mail"required>
                                <label for="email" class="field-label"></label>
                            </div>
                            <div class="input-group">
                                <textarea class="field" name="mensagem" placeholder="Mensagem" required></textarea>
                                <label for="mensagem" class="field-label"></label>
                            </div>
                            <input type="hidden" name="_captcha" value="false">
                            <input type="hidden" name="_next" value="https://bit.ly/44NY5TD">
                            <button type="submit" class="btn btn-submit">Enviar</button>
                        </form>                      
                    </div>
                </div>
            </section>
            <section class="sessao-orcamento" id="Orcamento">
                <div class="orcamento-wrapper">
                    <h1>Faça um orçamento</h1>
                    <form action="" method="POST">
                        <label for="qtde">Qtde De Páginas</label>
                        <input type="number" min="1" name="qtde" id="qtde">
                        <label for="JS">Preciso de um script JS</label>
                        <input type="checkbox" name="JS" id="JS">
                        <label>Layout</label>
                        <div class="group-layout">
                            <div>
                                <input type="radio" name="layout" id="layout-sim">
                                <label for="layout-sim">Preciso de um layout</label>
                            </div>
   
                        </div>
                        <label for=""></label>
                        <div class="group-layout">
                            <div>
                                <input type="radio" name="layout" id="layout-nao">
                                <label for="layout-não">Já tenho um layout</label>
                            </div> 
                        </div>

                        <label>E-mail</label>
                        <div class="group-email">
                            <div>
                                <input type="text" name="E-mail" required>
                            </div>
                        </div>
                        <label for="prazo">Prazo</label>
                        <input type="range" name="prazo" id="prazo" min="1" max="10">
                        <label id="preco">R$ 0,00</label>
                        <input type="hidden" name="_captcha" value="false">
                        <input type="hidden" name="_next" value="https://bit.ly/44NY5TD">
                        <button class="btn btn-orcamento" type="submit">Enviar</button>
                    </form>
                </div>
            </section>

            <footer>
                <div class="footer-content">
                    <p>
                        Copyright &copy;2022 - Todos os direitos reservados!
                    </p>
                </div>
            </footer>
            <a href="#Home" id="link-topo">
                <i class="fas fa-brands fa-arrow-up"></i>
            </a>
        </div>    
    </body>
    <script src="static/JS/scripts.js"></script>
</html>
